VITE_SUPABASE_URL=https://dnozowivbyodvvonxybu.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_dEGMCcj1lfz576KrI14UYg_4JfAeMYG
VITE_WHATSAPP_NUMBER=558688843379

VITE_SITE_URL=https://forjabrindes.pages.dev
VITE_BASE_PATH=/
VITE_ROUTER_BASE=/
